<%= form_for([:admin,@comment]) do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

