-if current_role_name
  %li 
    =current_role.email
  %li
    = link_to 'Logout', destroy_session_path(current_role_name)
  %li
    = link_to 'Dashboard', "/"<<current_role_name unless current_role.is_a?(User)
-else
  %li
    = link_to 'Login', new_user_session_path
-#begin
  %li
    = link_to 'Admin Login', new_admin_session_path
  %li
    = link_to 'Police Login', new_police_session_path  
-#end
