<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN "
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title> <%= yield(:title) || "untitled" %> </title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag :all %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>  
    <div>
      <div>


    <h1>Admin Dashboard#index</h1>
    <%= link_to 'See All Posts', admin_posts_path %> <br />
    <%= link_to 'See All Approved Posts', approved_admin_posts_path %> <br />
    <%= link_to 'See All Unapproved Posts', unapproved_admin_posts_path %> <br />
    <%= link_to 'See All Comments', admin_comments_path %> <br />
    <%= link_to 'See All Responses', admin_responses_path %> <br />
    <%= link_to 'See All Users', admin_users_path %> <br />
    <%= link_to 'See All Polices', admin_polices_path %> <br />
  </div>

  </body>
</html>
