= div_for police do 
  %p
    Email:
    = police.email
  %p
    Name:
    = police.name
  -if police == current_police or current_police.ischeif 
    = link_to 'Edit', edit_police_police_path(police) 
    |
    = link_to 'Destroy', [:police, police], :method => :delete, :confirm => "Are you sure?"

