<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN "
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title> <%= yield(:title) || "untitled" %> </title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag :all %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>  
    <div>
    <h1>Home#index</h1>
    <p>Find me in app/views/home/index.html.erb</p>
    <%= link_to 'See All Posts', posts_path %> <br />
    <%= link_to 'See All Tags', tags_path %>
  </div>

  </body>
</html>
