<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN "
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title> <%= yield(:title) || "untitled" %> </title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag :all %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>  
    <div>
      <div>
        <p> Sign up as user 
        <% if user_signed_in? %>
          Signed in as <%= current_user.email%>. Not you?
          <%= link_to "Sign out", destroy_user_session_path %> 
        <% else %>
          <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %>
        <% end %>
        </p>

        <p> sign up as admin 
        <% if admin_signed_in? %>
          Signed in as <%= current_admin.email%>. Not you?
          <%= link_to "Sign out", destroy_admin_session_path %> 
        <% else %>
          <%= link_to "Sign up", new_admin_registration_path %> or <%= link_to "Sign in", new_admin_session_path %>
        <% end %>
        </p>

         <p> sign up as police 
        <% if police_signed_in? %>
          Signed in as <%= current_police.name%>. Not you?
          <%= link_to "Sign out", destroy_police_session_path %> 
        <% else %>
          <%= link_to "Sign up", new_police_registration_path %> or <%= link_to "Sign in", new_police_session_path %>
        <% end %>
        </p>
      </div>
    <h1>Home#index</h1>
    <p>Find me in app/views/home/index.html.erb</p>
    <%= link_to 'See All Posts', posts_path %>
  </div>

  </body>
</html>
