
  <b>Post:</b>
  <p>Title: <%= @post.title %></p>
  Body: <%= @post.body %>


<p>
  <b>Body:</b>
  <%= @response.body %>
</p>


<%= link_to 'Edit', edit_admin_response_path(@response) %> |
<%= link_to 'Back', admin_responses_path %> |
<%= link_to 'Destroy', [:admin, @response], :method => :delete, :confirm => 'Are you sure to delete?' %>
