<h1>Listing tags</h1>

<%= link_to 'See All Tags', admin_tags_path %>
<%= link_to 'Dashboard', admin_root_path %>

<% form_for [:admin, Tag.new] do |f| %>
    <p>
      <%= f.label :name, "New tag" %> <br/>
      <%= f.text_field :name %>
    </p>
    <p> <%= f.submit "Add a new tag" %> </p>
  <% end %>

  <%= render :partial => @tags %>
