<%= form_for([:admin,@post]) do |f| %>
  <%= render "shared/error_message", :target => @post %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label("Category",:name) %><br />
    <% category_array = Category.all.map{|c|[c.name,c.id]} %>
    <%= f.select(:category_id, options_for_select(category_array, @post.category_id)) %>
  </div>

  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
