<% div_for post do %>
  <h2><%= link_to_unless_current post.title, [:admin, post]%></h2>
  <p>posted by <%= post.user.nil? ? "anonymous" : post.user.email %></p>
  <p>Category:<%= post.category.name%></p>
  <p>Stroy:</p>
  <%= simple_format sanitize(post.body) %>
  <p>Suggestion:</p>
  <%= simple_format sanitize(post.suggestion) %>
  <p>
  <p>Tags:</p>
  <% post.tag_list.each do |tag| %>
    <%= tag%>
  <% end%>
  
  <% if post.approved %>
    <%= link_to 'unapproved', unapprove_admin_post_path(post), :method => :post %>|
  <% else %>
    <%= link_to 'approved', approve_admin_post_path(post), :method => :post %>|
  <% end %>
  <%= link_to 'Edit', edit_admin_post_path(post) %> |
  <%= link_to 'Destroy', [:admin, post], :method => :delete, :confirm => "Are you sure?" %>|
  </p>
<%end%>

