<%= render :partial => @post %>


<p>
  <%= link_to 'See All Posts', admin_posts_path %>
</p>

<h2>Responses</h2>
<div id = "responses">
  <%= render :partial => @post.responses %>
</div>

<div id = "comments">
  <p> Unapproved comments</p>
  <%= render :partial => @post.comments.unapproved %>
  <p> approved comments</p>
  <%= render :partial => @post.comments.approved %>
</div>



