<%= render :partial => @post %>


<p>
  <%= link_to 'See All Posts', admin_posts_path %>
</p>

<h2>Responses</h2>
<div id = "responses">
  <%= render :partial => @post.responses %>
</div>

<% if current_police%>
  <% form_for [@post, Response.new], :remote => true do |f| %>
   <p>
      <%= f.label :body, "New Response" %> <br/>
      <%= f.text_area :body %>
    </p>
    <p> <%= f.submit "Add Response" %> </p>
  <% end %>
<% end %>

<h2>Comments</h2>
<div id = "comments">
  <p> Unapproved comments</p>
  <%= render :partial => @post.comments.unapproved %>
  <p> approved comments</p>
  <%= render :partial => @post.comments.approved %>
</div>



