<%= form_for(@address) do |f| %>
  <% if @address.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@address.errors.count, "error") %> prohibited this address from being saved:</h2>
    <ul>
    <% @address.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :address_line1 %><br />
    <%= f.text_area :address_line1 %>
  </div>
  <div class="field">
    <%= f.label :address_line2 %><br />
    <%= f.text_area :address_line2 %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_area :city %>
  </div>
  <div class="field">
    <%= f.label :county %><br />
    <%= f.text_area :county %>
  </div>
  <div class="field">
    <%= f.label :postcode %><br />
    <%= f.text_area :postcode %>
  </div>
  <div class="field">
    <%= f.label :country %><br />
    <%= f.text_area :country %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
