#newpost
  =form_for(@post) do |f| 
    #back_button.action
      =f.submit :type=>"reset" ,:value=>"Back",:class=>"navigation_button",:id=>"backbutton"
    #formcontent
      = render "shared/error_message", :target => [@post, @address]
      #err
      %fieldset.step#first
        %h2
          -if user_signed_in?
            You logined as 
            =current_user.email

          -else
            You can either 
            =link_to "sign-in", new_user_session_path
            (if you are already a memeber),
            =link_to "Create a new profile", new_user_registration_path
            or create a story anonymously
      %fieldset.step#second
        %table
          %tr.field
            %td
              =f.label(:title, "Story title")
              =mark_required(@post, :title)
            %td=f.text_field :title, :value=>@post.title
          %tr.field
            %td=f.label(:who_id,"Who it happened to")
            -who_array = Who.all.map{|w|[w.name,w.id]}
            %td=f.select(:who_id, options_for_select(who_array,@post.who_id))
          %tr.field
            %td=f.label(:happened_on,"When it happened")
            %td=f.text_field :happened_on
          %tr.field
            %td=f.label(:category_id,"Category of story")
            -category_array = Category.all.map{|c| [c.name,c.id]}
            %td=f.select(:category_id, options_for_select(category_array, @post.category_id))
       
        
    
      =fields_for :address do |a|
        %fieldset.step#third
          %h3
            Please tell us where your story took place    
          %table
            %tr.field 
              %td
                =a.label(:address_line1," Address Line")
                = mark_required(@address, :address_line1)
              %td
                =a.text_field :address_line1, :class=>"required"
            %tr.field 
              %td=a.label(:address_line2, "Address Line 2")
              %td=a.text_field :address_line2
            %tr.field 
              %td
                =a.label(:city," Town/City")
                = mark_required(@address, :city)  
              %td=a.text_field :city, :class=>"required"
            %tr.field 
              %td=a.label(:county," County")
              %td=a.text_field :county
            %tr.field 
              %td
                =a.label(:postcode," Postcode")
                = mark_required(@address, :postcode)
              %td=a.text_field :postcode
            %tr.field 
              %td=a.label(:country, "Country(Our serivce only available in UK now)")
              %td=a.select(:country, options_for_select(["United Kingdom"]), {:disabled => true})

      %fieldset.step#forth
        %h3
          Please tell us your story
        %table
          %tr.field
            %td
              =f.label(:body, "Story")
              = mark_required(@post, :body)
            %td
              =f.text_area :body 
          %tr.field
            %td
              =f.label(:suggestion,"Your suggestions")
            %td
              =f.text_area :suggestion
      
      %fieldset.step#fifth
        %h3 Please add some keywords to describe your story
        .field
          %p
            =f.label(:tag_list, "Tags(seperate with comma ',')") 
          %p
            =f.text_field :tag_list 
        %p
          You story is now ready to be submitted, Please click submit arrow to submit
    #next_button.action
      =f.submit :value=>"Next",:class=>"navigation_button"
   
