-title "Add a new Story"
%h2.newstory Use the simple form below to tell us your story

%div{:style=>"display:none"}
  #addresslookup
    %input{:id=>"address" , :value=>"Glasgow", :type=>"textbox"}
    %input{:type=>"button",:value=>"seach on map", :id=>"geocode"}
    %input{:type=>"button",:value=>"save address", :id=>"saveaddress"}
    #map_canvas    
#progress
  #complete
    #marker
  %ul
    %li.first
      Sign in?
    %li.second
      Basic Details
    %li.third
      Location
    %li.forth
      Your story
    %li.fifth
      Tags
=render :partial=>"form"
= javascript_include_tag "newpost"
= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false&region=GB"
-#begin
  #newpost
  #back_button
    %a{:title=>"back", :href=>new_post_path,:class=>"leftarrow"}
      Back
    
  #formcontent  
    =form_for(@post) do |f|
      = render "shared/error_message", :target => [@post, @address]
      = hidden_field_tag "current_step", "#{@current_step}" 
      = render :partial=>"#{@current_step}", :locals => {:f =>f} 
  
  #next_button
    %a{:title=>"next", :href=>"#", :id=>"next", :class=>"rightarrow" } Next
-#end
