-title @post.title.titlecase

/=link_to "Back to All @posts", @posts_path
#content
  #head
    %h2
      =@post.title.titlecase
  #posts
    .postbubble
      %h3
        =link_to_unless_current @post.title.titlecase, @post
      =simple_format sanitize(@post.body)
      %h3 Suggestion
      =simple_format sanitize(@post.suggestion)
      .postrelated
        posted by 
        =@post.user.nil? ? "anonymous" : @post.user.email
        on
        =time_ago_in_words(@post.created_at)
        ago
  

      .postrelated
        =link_to pluralize(@post.responses.count, 'Response'), @post, :id=>"responses_#{@post.id}"
        \/
        =link_to pluralize(@post.comments.approved.count, 'Comment'), @post, :id=>"Comments_#{@post.id}"
        %script{:type=>"text/javascript",:src=>"http://w.sharethis.com/button/sharethis.js#publisher=534a6efc-b729-4f7e-9b27-b0751fe00183&amp;type=website&amp;style=vertical&amp;@post_services=email%2Cfacebook%2Ctwitter%2Cgbuzz%2Cmyspace%2Cdigg%2Csms%2Cwindows_live%2Cdelicious%2Cstumbleupon%2Creddit%2Cgoogle_bmarks%2Clinkedin%2Cbebo%2Cybuzz%2Cblogger%2Cyahoo_bmarks%2Cmixx%2Ctechnorati%2Cfriendfeed%2Cpropeller%2Cwordpress%2Cnewsvine"}
   
    #responses
      = error_messages_for :response
      =render :partial=>@post.responses
      -if current_police
        -form_for [@post, Response.new], :remote=>true do |f|
          %p   
            =f.label :body, "New Response"
          %p 
            =f.text_area :body, :class=>"required"
          %p
            =f.submit "Add Response"
    
    #comments
      = error_messages_for :comment
      = render :partial => @post.comments.approved
      -if current_user
        -form_for [@post, Comment.new], :remote => true do |f| 
          %p
            = f.label :body, "New Comment" 
          %p
            = f.text_area :body, :class=>"required" 
          %p
            = f.submit "Add Comment" 
      -elsif !current_user and !current_police and !current_admin 
        = link_to "Sign in ", new_user_session_path 
        to add comments 


=content_for :sidebar do
  %a{:title=>"Tell us your story",:href=>tellusyourstory_path}
    %img{:title=>"Tell us your story",:class=>"submitbutton", :alt=>"Tell us your story", :src=>"/images/tellusstorybuton.png"}

  #storydetail.sideblock
    %h3
      Story details
    .sidecontent
      %ul
        %li
          Crime type:
          =@post.category.name
        %li
          when it happened
        %li
          it happened to: 
        %li
          They are
  #map.sideblock
    %h3
      Where it took place
    .sidecontent
      %img{:src=>"/images/map.png", :width=>"270px"}
  -if @post.tags.length>0
    #tags.sideblock
      %h3
        Tags
      .sidecontent
        -@post.tags.each do |tag|
          =link_to tag.name, tag_path(tag)
  
