-title @post.title.titlecase
/=link_to "Back to All @posts", @posts_path
#content
  #posts
    %a{:title=>"Tell us your story",:href=>new_post_path}
      %img{:id =>"tellbutton", :title=>"Tell us your story", :alt=>"Tell us your story", :src=>"/images/tellusstorybuton.png"}
    .postbubble
      %h3
        =link_to_unless_current @post.title.titlecase, @post
      =simple_format sanitize(@post.body)
      %h3 Suggestion
      =simple_format sanitize(@post.suggestion)
      %p
        posted by 
        =@post.user.nil? ? "anonymous" : @post.user.email
        on
        =time_ago_in_words(@post.created_at)
        ago
    %p
      -if @post.responses.count > 1
        =link_to "#{@post.responses.count} Responses", @post
      -else
        =link_to "#{@post.responses.count} Response", @post
      \/
      -if @post.comments.approved.count > 1
        =link_to "#{@post.comments.approved.count} Comments", @post
      -else
        =link_to "#{@post.comments.approved.count} Comment", @post
      %script{:type=>"text/javascript",:src=>"http://w.sharethis.com/button/sharethis.js#publisher=534a6efc-b729-4f7e-9b27-b0751fe00183&amp;type=website&amp;style=vertical&amp;@post_services=email%2Cfacebook%2Ctwitter%2Cgbuzz%2Cmyspace%2Cdigg%2Csms%2Cwindows_live%2Cdelicious%2Cstumbleupon%2Creddit%2Cgoogle_bmarks%2Clinkedin%2Cbebo%2Cybuzz%2Cblogger%2Cyahoo_bmarks%2Cmixx%2Ctechnorati%2Cfriendfeed%2Cpropeller%2Cwordpress%2Cnewsvine"}
      
    #responses
      =render :partial=>@post.responses
      -if current_police
        -form_for [@post, Response.new], :remote=>true do |f|
          %p   
            =f.label :boday, "New Response"
          %p 
            =f.text_area :body, :class=>"required"
          %p
            =f.submit "Add Response"
    
    #comments
      = error_messages_for :comment
      = render :partial => @post.comments.approved
      -if current_user
        -form_for [@post, Comment.new], :remote => true do |f| 
          %p
            = f.label :body, "New Comment" 
          %p
            = f.text_area :body, :class=>"required" 
          %p
            = f.submit "Add Comment" 
      -elsif !current_police
      = link_to "Sign in ", new_user_session_path 
      to add comments 


=content_for :sidebar do
  #latestresponses
    %h3
      Latest Responses:
    =render :partial=>"home/response",:collection=>@responses
  #tags
    %h3
      Tags
  #map
    %h3
      Map
