<%= render :partial => @post %>


<p>
  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Destory', @post, :method => :delete, :confirm => "Are you sure?" %>|
  <%= link_to 'See All Posts', posts_path %>
</p>

<h2>Responses</h2>
<div id = "responses">
  <%= render :partial => @post.responses %>
</div>

<% if current_police%>
  <% form_for [@post, Response.new], :remote => true do |f| %>
   <p>
      <%= f.label :body, "New Response" %> <br/>
      <%= f.text_area :body %>
    </p>
    <p> <%= f.submit "Add Response" %> </p>
  <% end %>
<% end %>

<h2>Comments</h2>
<div id = "comments">
  <%= render :partial => @post.comments %>
</div>

<% if current_user %>
  <% form_for [@post, Comment.new], :remote => true do |f| %>
    <p>
      <%= f.label :body, "New Comment" %> <br/>
      <%= f.text_area :body %>
    </p>
    <p> <%= f.submit "Add Comment" %> </p>
  <% end %>
<% elsif !current_police %>
  <p> <%= link_to "Sign in", new_user_session_path %> to add comments </p>
<% end %>


