<% div_for police do %>
  <p>Email <%= police.email %></p>
  <p>Sign in Counts<%= police.sign_in_count %></p>
  <p>Last Sign in up <%= police.last_sign_in_ip %></p>
  <%= link_to 'Edit', edit_admin_police_path(police) %> |
  <%= link_to 'Destroy', [:admin, police], :method => :delete, :confirm => "Are you sure?" %>|
  </p>
<%end%>

