<% div_for police do %>
  <p>Email <%= police.email %></p>
  <% if police.ischeif %>
    <%= link_to 'remove him as cheif ', uncheif_admin_police_path(police), :method => :police %>|
  <% else %>
    <%= link_to 'set him as cheif', cheif_admin_police_path(police), :method => :police %>|
  <% end %>

  <%= link_to 'Edit', edit_admin_police_path(police) %> |
  <%= link_to 'Destroy', [:admin, police], :method => :delete, :confirm => "Are you sure?" %>|
  </p>
<%end%>

