<!DOCTYPE html>
<?xml version="1.0" encoding="UTF-8"
!!!Strict
%html{:xmlns=>"http://www.w3.org/1999/xhtml"}

  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %title= yield(:title) 
    = stylesheet_link_tag 'application' 
    = stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "application"
    = javascript_include_tag "http://ajax.microsoft.com/ajax/jquery.validate/1.7/jquery.validate.min.js"
    = javascript_include_tag 'jquery.rails'
    = csrf_meta_tag 
  

  %body
    %h1
    #container
      %ul.hmenu 
        = render :partial =>"devise/menu/login_items"
        = render :partial => "devise/menu/registration_items" 
     
      -flash.each do |name, msg| 
        =content_tag :div, msg, :id=>"flash_#{name}"

      = yield 

